/* #mode-selector {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    align-items: center;
  }

#image-wrapper {
    flex: 1;
} */
/* 
img {
    width: 100%;
} */

* {
    box-sizing: border-box;
  }
  
  .row {
    display: flex;
  }
  
  /* Create three equal columns that sits next to each other */
  .column {
    flex: 10%;
    padding-top: 0%;
    padding-left: 9%;
    padding-right: 9%;

}

img {
    width: 100%;
    border: 0.5px solid #060606;
}

p {
    font-size: large;
    font-family: Constantia;
    background-color:rgba(255, 255, 255, 0.4);
    padding: 2%;
}

button {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
    cursor: url('../../../assets/images/marker-cursor.png'), auto;
}
