<div class="movie-guessr-background">
  <div class="score-container">
    <span class="mat-title">Coins: {{ gameService.coinCount.toLocaleString('en-US', {minimumIntegerDigits: 2, useGrouping:false}) }}</span>
    <br>
    <span class="mat-title">Round: {{ gameService.roundCount.toLocaleString('en-US', {minimumIntegerDigits: 2, useGrouping:false}) }}</span>
  </div>



  <div class="center-container">
    <!-- Display the selected movie's hints and categories -->
    <div class="game-container">
      <mat-grid-list cols="3" rowHeight="1:1" class="grid-layout-custom">
        <mat-grid-tile *ngFor="let hint of gameService.selectedMovie.hints; let i = index">
          <div class="custom-tile-wrapper">
            <app-tile [hintName]="hint.category + ' (Cost: ' + hint.cost + ')' " [hint]="hint.hint" [index]="i"></app-tile>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>

    <form class="submit-form" (submit)="onInputSubmitted(myControl.value)">
      <mat-form-field class="example-full-width">
        <mat-label>Movie Name</mat-label>
        <input type="text"
               placeholder="Star Wars..."
               aria-label="movie-name"
               matInput
               [formControl]="myControl"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">{{ option }}</mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </form>
  </div>
</div>
