.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates 3 equal columns */
  grid-gap: 10px; /* Spacing between tiles */
}

.mat-grid-list {
  flex: 1;
}

.game-container {
  max-width: 600px;
  left: 30%;
  position: relative;
}
.custom-tile-wrapper {
  width: 100%;
  height: 100%;
  /* Other styles */
}



.center-container {
  text-align: center;
}
