<mat-toolbar>
  <button mat-button (click)="updateData(Game.Game1)">Game 1</button>
  <button mat-button (click)="updateData(Game.Game2)">Game 2</button>
  <button mat-button (click)="updateData(Game.Game3)">Game 3</button>
  <button mat-button (click)="updateData(Game.Game4)">Game 4</button>
  <button mat-button (click)="updateData(Game.Game5)">Game 5</button>
  <button mat-button (click)="updateData(Game.Game6)">Game 6</button>
  <span class="spacer"></span>
  <button mat-button>logout</button>
</mat-toolbar>
