<mat-toolbar>
  <button (click)="updateData(Game.Game1)" mat-button>Game 1</button>
  <button (click)="updateData(Game.Game2)" mat-button>Game 2</button>
  <button (click)="updateData(Game.Game3)" mat-button>Game 3</button>
  <button (click)="updateData(Game.Game4)" mat-button>Game 4</button>
  <button (click)="updateData(Game.Game5)" mat-button>Game 5</button>
  <span class="spacer"></span>
  <button (click)="updateData(Game.Scoreboard)" mat-button>Scoreboard</button>
  <button (click)="logout()" mat-button>logout</button>
</mat-toolbar>
