<div class="asteroid" style="float: left;">
  <img src="../../assets/previewImages/Asteroid_preview.png" height="200px" width="200px" (click)="updateData(Game.Game6)"/>
</div>

<div class="almost-game" style="float: left;">
  <img src="../../assets/previewImages/Almost_game_preview.png" alt="Almost game thumbnail" height="200px" width="200px" (click)="updateData(Game.Game1)"/>
</div>

<div class="snake" style="float: left;">
  <img src="../../assets/previewImages/Snake_preview.png" alt="Snake game thumbnail" height="200px" width="200px" (click)="updateData(Game.Game3)"/>
</div>

