<div class="reset-password-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Reset Password</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="password-reset-form" *ngIf="!emailSent">
        <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username" placeholder="username" required>
            <mat-error *ngIf="resetPasswordForm.get('username')?.hasError('required')">
              Email is required
            </mat-error>
            <mat-error *ngIf="resetPasswordForm.get('username')?.hasError('invalidEmail')">
              Invalid email format
            </mat-error>
          </mat-form-field>

          <button mat-raised-button color="primary" type="submit">Reset Password</button>
        </form>
      </div>
      <br>
      <div class="emailsent" *ngIf="emailSent">
        <p>A link to reset your password has been sent.</p>
      </div>

      <p>Remembered your password? <a routerLink="/login">Log in</a></p>
      <mat-divider></mat-divider>
      <div class="links">
        <a routerLink="/home">Home</a>
      </div>
    </mat-card-content>
  </mat-card>
</div>
