.reset-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.full-width {
  width: 100%;
  margin-bottom: 15px;
}

.links {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.emailsent {
  font-size: large;
  font-weight: bold;
  color: grey;
  margin-top: 15px;
}
