
.popUpContainer {
  background: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.buttons {
  text-align: center;
}

.buttons button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 40px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buttons button i {
  margin-right: 8px; 
}

.button-text {
  vertical-align: middle;
}

.buttons button:hover {
  background-color: #45a049;
}
