<div class="game-container" *ngIf="!isGameOver">

  <button class="start-button" *ngIf="!isGameStarted" (click)="startGame()">Start Game</button>

  <app-board
    [snakePosition]="snakePosition"
    [foodPosition]="foodPosition">
  </app-board>

  <div class="score-container">
    <p>Score: {{ score }}</p>
  </div>
</div>

<div class="game-overlay" *ngIf="isGameOver">
  <!-- Game-over overlay content -->
  <div class="overlay-content">
    <h1>Game Over!</h1>
    <p>Your final score: {{ score }}</p>

    <button (click)="resetGame()">Restart</button>
    <button (click)="exitGame()">Exit Game</button>
  </div>
</div>
