<!-- snakegame.component.html -->
<div class="game-container" *ngIf="!isGameOver">
  <!-- Start button -->
  <button class="start-button" *ngIf="!isGameStarted" (click)="startGame()">Start Game</button>

  <!-- Your game content here -->
  <app-board
    [snakePosition]="snakePosition"
    [foodPosition]="foodPosition">
  </app-board>

  <!-- Display the score below the board -->
  <div class="score-container">
    <p>Score: {{ score }}</p>
  </div>
</div>

<div class="game-overlay" *ngIf="isGameOver">
  <!-- Game-over overlay content -->
  <div class="overlay-content">
    <h1>Game Over!</h1>
    <p>Your final score: {{ score }}</p>
    <!-- You can add more elements, buttons, or links for restarting the game or navigating to other screens -->
    <button (click)="resetGame()">Restart</button>

    <!-- Exit button -->
    <button (click)="exitGame()">Exit Game</button>
  </div>
</div>
