/* snakegame.component.css */
.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*height: 100vh;*/
}

.score-container {
  /*margin-top: 10px;*/
  color: black;
  font-size: 18px;
}

.game-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure the overlay is on top of other elements */
}

.overlay-content {
  text-align: center;
  color: white;
}

/* Add any additional styles based on your design */
