<div class="change-password-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Change Password</mat-card-title>
    </mat-card-header>
    <div *ngIf="!errorMessage">
      <mat-card-content>
        <div class="password-change-form" *ngIf="!passwordChanged">
          <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>New Password</mat-label>
              <input matInput formControlName="newPassword" type="password" required>
              <mat-error *ngIf="changePasswordForm.get('newPassword')?.hasError('required')">
                New password is required
              </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Confirm New Password</mat-label>
              <input matInput formControlName="confirmNewPassword" type="password" required>
              <mat-error *ngIf="changePasswordForm.get('confirmNewPassword')?.hasError('required')">
                Confirmation of new password is required
              </mat-error>
            </mat-form-field>

            <button mat-raised-button color="primary" type="submit">Change Password</button>
          </form>
        </div>
        <br>
        <div class="password-changed" *ngIf="passwordChanged">
          <p>Your password has been changed successfully.</p>
        </div>

        <mat-divider></mat-divider>
        <div class="links">
          <a routerLink="/login">Log in</a>
        </div>
      </mat-card-content>
    </div>
    <div *ngIf="errorMessage" class="error">
      <mat-card-content>
        <mat-error>{{ errorMessage }}</mat-error>
        <a mat-raised-button color="primary" routerLink="/users/reset-password">Request a new link</a>
      </mat-card-content>
    </div>
  </mat-card>
</div>
