.change-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.full-width {
  width: 100%;
  margin-bottom: 15px;
}

.password-changed {
  font-size: large;
  font-weight: bold;
  color: green;
  margin-top: 15px;
}

.error {
  color: #d32f2f; /* Material error color */
  text-align: center;
  margin: 20px;
}

.error mat-error {
  font-size: 1rem;
  display: block;
  margin-bottom: 15px;
}

