/* board.component.css */
.board-container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  height: 400px;
  /*height: 100vh;*/ /* Adjust based on your preference */
}

.board {
  display: grid;
  grid-template-columns: repeat(15, 1fr); /* Increase the number of columns */
  grid-template-rows: repeat(15, 1fr); /* Increase the number of rows */
  gap: 2px; /* Adjust based on your preference */
  /*width: 320px; !* Adjust based on your preference *!*/
  /*height: 320px; /* Adjust based on your preference */
}

.cell {
  width: 25px; /* Adjust based on your preference */
  height: 25px; /* Adjust based on your preference */
  border: 1px solid #ccc;
  background-color: snow;
  box-sizing: border-box; /* Include padding and border in the cell size */
}

.snake {
  background-color: #2ecc71; /* Adjust based on your preference */
}

.food {
  background-color: #e74c3c; /* Adjust based on your preference */
}
