<div class="contentGame1" *ngIf="sharedData == Game.Game1">
  <br>
  <app-almost-game></app-almost-game>
</div>



<div class="contentGame2" *ngIf="sharedData == Game.Game2">
  <app-movie-guessr></app-movie-guessr>
</div>


<div class="contentGame3" *ngIf="sharedData == Game.Game3">
  <app-snakegame></app-snakegame>

</div>

<div class="contentGame4" *ngIf="sharedData == Game.Game4">
  <app-game></app-game>
</div>

<div class="contentGame5" *ngIf="sharedData == Game.Game5">
  <app-asteroid></app-asteroid>
</div>

<div *ngIf="sharedData == Game.NoGame">
  <app-scoreboard></app-scoreboard>
</div>

<div class="contentScoreboard" *ngIf="sharedData == Game.Scoreboard">
  <app-scoreboard></app-scoreboard>
</div>
