<div *ngIf="sharedData == Game.Game1">
  <h1>Game 1</h1>
  <app-almost-game></app-almost-game>
</div>

<div *ngIf="sharedData == Game.Game2">
  <h1>Game 2</h1>
</div>

<div *ngIf="sharedData == Game.Game3">
  <app-snakegame></app-snakegame>
</div>

<div *ngIf="sharedData == Game.Game4">
  <h1>Game 4</h1>
</div>

<div *ngIf="sharedData == Game.Game5">
  <h1>Game 5</h1>
</div>

<div *ngIf="sharedData == Game.Game6">
  <app-asteroid>
  </app-asteroid>
</div>


<div *ngIf="sharedData == Game.NoGame">
  <app-preview>

  </app-preview>
</div>


<div *ngIf="sharedData == Game.Scoreboard">
  <app-scoreboard></app-scoreboard>
</div>

