<div class="register-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="signUpForm" (ngSubmit)="register()">

        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" placeholder="username" required>
          <mat-error *ngIf="signUpForm.get('username')?.hasError('required')">
            Username is required
          </mat-error>
          <mat-error *ngIf="signUpForm.get('username')?.hasError('email')">
            Invalid email format
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" placeholder="username" required>
          <mat-error *ngIf="signUpForm.get('password')?.hasError('required')">
            Password is required
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <input matInput formControlName="password" placeholder="username" required>
          <mat-error *ngIf="signUpForm.get('confirmPassword')?.hasError('required')">
            Password is required
          </mat-error>
        </mat-form-field>


        <div class="full-width">
          <re-captcha [siteKey]="sitekey" formControlName="recaptchaReactive"></re-captcha>
        </div>



        <button mat-raised-button color="primary" type="submit" [disabled]="signUpForm.invalid">
          Register
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
