body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    /* background-color: #f0f0f0; */

	/* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */

    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 50%);

	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;

    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* #word-container {
    height: 65vh; 
    overflow: hidden;
    position: relative;
    width: 100%;
    top: -50px;
    font-size: 36px;
    font-family: 'Arial', sans-serif;
    color: #333;
    white-space: nowrap;
    animation: fallAnimation 10s linear infinite;
} */



@keyframes fallAnimation {
    0% {
        transform: translateY(0);
        opacity: 100;
    }
    100% {
        transform: translateY(77%);
    }
}

#multiplier {
    
    text-transform: uppercase;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    text-shadow: 5px 5px 0px #07bccc;
    font-size: 3em;
    color: #fff; /* Green color for multiplier */
    animation: pulseAnimation 0.5s ease infinite; /* Add a pulse animation */
    background-image: url("../../../assets/typing-game/img/spiky.png"); /* Replace 'path/to/your/image.jpg' with the actual path to your image */
    background-size: cover; /* Ensure the background image covers the entire element */
    background-repeat: no-repeat; /* Do not repeat the background image */
    background-position: center; 
}

@keyframes pulseAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}



body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; 
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column; /* Align content in a column */
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

header {
    text-align: center; /* Center align the heading */
    margin: 20px 0; /* Add space above and below the heading */
}

#game-area {
    width: 100%;
    text-align: center; /* Center align the word container */
    margin-bottom: 20px; /* Add space below the game area */
}

/* #word-container {
    overflow: hidden;
    position: relative;
    font-size: 36px;
    color: #333;
    white-space: nowrap;
    animation: fallAnimation 5s linear infinite;
} */

#word-container {

    font-family: 'Roboto', sans-serif; /* Use the custom 'Roboto' font with a fallback to a generic sans-serif font */
    font-size: 36px; /* Set the font size to 36 pixels */
    color: #333; /* Set the text color to a dark grey */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Add a subtle text shadow for a good style */
    animation: fallAnimation 5s linear infinite; /* Apply the fallAnimation animation to the container */
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    width: 100%;
    top: -50px;
    height: 65vh; 
    /* Add other styling for the word container as needed */
  }

#input-area {
    text-align: center; /* Center align the input area */
}


#stats {
    text-align: center; /* Center align the statistics section */
    margin-bottom: 20px; /* Add space below the statistics section */
}

#stats p {
    margin: 5px; /* Add space around each statistic */
}

footer {
    text-align: center; /* Center align the footer */
    margin-top: 20px; /* Add space above the footer */
}





#score,
#totalScore,
#mistakes,
#word-per-minute,
#accuracy,
#time {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    margin: 5px;
    color: #333;
}



/* 
@font-face {
    font-family: 'Roboto';
    src: url('path_to_font_file.woff2') format('woff2'),  
         url('path_to_font_file.woff') format('woff');  
    
  } */

/* Informative Text */
.info-text {
    margin-bottom: 20px;
    text-align: center;
    font-size: 18px;
    color: #333;
}

/* Responsive Section */
@media (max-width: 768px) {
    #input {
        width: 80%;
    }
    
    .falling-word {
        font-size: 24px;
    }

    .info-text {
        font-size: 14px;
    }
}

a:nth-child(1) {
    font-family: Monoton;
    animation: neon1 1.5s ease-in-out infinite alternate;
  }



@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}




  /*Make stuff responsive*/
  
  @media (max-width: 650px) {
    p {
      font-size: 3.5em;
    }
  }






  

  .falling-word {
    /*position: absolute;
     left: 50%;
     transform: translateX(-50%);
     font-size: 36px;
     color: #333;
     white-space: nowrap;   */
 

     text-transform: uppercase;
     transition: all 0.5s;
     -webkit-text-stroke: 4px #d6f4f4;
     font-variation-settings: "wght" 900, "ital" 1;
     font-size: 4rem;
     text-align: center;
     color: transparent;
     font-family: 'Roboto', sans-serif;
     text-shadow: 10px 10px 0px #07bccc,

       45px 45px 10px #482896;
     cursor: default;
 
 
 }


 .falling-word:hover {
    font-variation-settings: "wght" 100, "ital" 0;
    text-shadow: none;
  }




 /* @font-face {
    src: url("https://www.axis-praxis.org/fonts/webfonts/MetaVariableDemo-Set.woff2")
      format("woff2");
    font-family: "Meta";
    font-style: normal;
    font-weight: normal;
  } */








  #input {
 /*    font-size: 16px;
    padding: 10px;
    max-width: 600px; /* Maximum width */
 /*   border: none;
    outline: none; /* Remove outline and custom on focus below */



    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 1.2rem;
    margin: 0 auto;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background-color: rgb(255, 255, 255);
    border: none;
    width: 20%;
    display: block;
    border-bottom: 0.3rem solid transparent;
    transition: all 0.3s;
}

.input:placeholder-shown + .input {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-4rem);
    transform: translateY(-4rem);
  }















  #openPopUp{
    text-align:center;
    background-color: #1abc9c;
    padding: 15px 15px;
    color: #ffffff;
    font-weight: 500;
    font-size: 1.5em;
    border-radius: 3.5px;
    text-decoration: none;
    font-weight: 100;
    transition:background-color 0.15s linear;
    -webkit-transition:background-color 0.15s linear;
    -moz-transition:background-color 0.25s linear;
    -o-transition:background-color 0.25s linear;
  }
  a#openPopUp:hover{
    cursor: pointer;
    background-color: #1abc9e;
  }
  .popup{
    position: fixed;
    top: -100vh;
    left: 0;
    z-index: 9999999;
    background: rgba(0,0,0, 0.75);
    width: 100vw;
    height: 100vh;
    opacity: 0;
  
      -webkit-transition: opacity  0.35s ease;
      -moz-transition: opacity 0.35s ease;
      -o-transition: opacity 0.35s ease;
      transition: opacity 0.35s ease;
  }
  .popup .popUpContainer{
    height: 80%;
    width: 100%;
    max-width: 500px;
    position: fixed; /* To avoid scroll to target */
    left: 50%;
    top: -100vh;
      -webkit-transition: top  0.35s ease;
      -moz-transition: top 0.35s ease;
      -o-transition: top 0.35s ease;
      transition: top 0.35s ease;
  
    /* Trick to properly center the element by using negative 
    1/2 length of element as margin left and top */
    margin-left: -250px;
    background-color: #e5e9f4;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    border-radius: 2px;
    z-index: 9999999; 
  }
  .popup h2{
    padding: 0.5em;
    text-align: center;
    color: #444444;
    margin: 0;
  }
  .popup img{
    width: 100%;
    display: block;
  }
  .popup article{
      height: 300px;
    background-color: #e5e9f4;
  }
  /* The cancel button on popup dialog */
  .popup a.closePopUp{
    font-family: verdana;
    color: #e74c3c;
    position: absolute;
    top: 0.2em;
    right: 0.375em;
    margin: 0;
    padding: 5px;
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: none;
  }
  /* The cancel button on popup dialog */
  .popup a:hover{
    color: #c0392b;
  }
  /* When popup is targeted, by clicking on link with #popup in HTML */
  .popup:target{
    opacity: 1;
    top: 0;
  }
  .popup .closePopUpOutSide{
    position: absolute;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 9999991; 
  }
  .popup:target .popUpContainer{
    top: 50px;
      -webkit-transition: top  0.35s ease;
      -moz-transition: top 0.35s ease;
      -o-transition: top 0.35s ease;
      transition: top 0.35s ease;
  }
  
  @media  (max-width: 796px) {
    .popup .popUpContainer{
      width: 90%;
      max-width: none;
      left: 5%;
      margin-left: 0;
    }
    .popup ul{
      padding: 0 1em 0 1em;
    }
    .popup:target .popUpContainer{
      top: 25px;
      -webkit-transition: top  0.35s ease;
      -moz-transition: top 0.35s ease;
      -o-transition: top 0.35s ease;
      transition: top 0.35s ease;
    }
  }


































































  @import url('https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css');

button.neumorphic {
  container-type: inline-size;
  aspect-ratio: 1/1;
  border: 0.5rem solid transparent;
  border-radius: 1rem;
  color: hsl(0 0% 10%);
  background: none;
  
  display: grid;
  place-content: center;
  gap: 0rem;
  
  --shadow: 
    -.5rem -.5rem 1rem hsl(0 0% 100% / .75),
    .5rem .5rem 1rem hsl(0 0% 50% / .5);
  box-shadow: var(--shadow);
  outline: none;  
  transition: all 0.1s;
  
  &:hover, &:focus-visible {
    color: hsl(10 80% 50%);
    scale: 1.1
  }
  &:active, &.active{
    box-shadow:
      var(--shadow),
      inset .5rem .5rem 1rem hsl(0 0% 50% / .5),
      inset -.5rem -.5rem 1rem hsl(0 0% 100% / .75);
    color: hsl(10 80% 50%);
    > i { font-size: 28cqi};
    > span { font-size: 13cqi};
  }

  >i {
    font-size: 31cqi;
  }
  > span {
    font-family: system-ui, sans-serif;
    font-size: 16cqi;
  }
}


h1 {
  text-align: center;
  color: hsl(0 0% 10%);
  font-family: system-ui, sans-serif;
  font-size: 3rem;
}
.buttons {
  display: grid;
  width: min(75rem, 100%);
  margin-inline: auto;
  grid-template-columns: repeat(auto-fit, minmax(min(8rem, 100%), 1fr));
  gap: 2rem;
  margin-left: 80px;
  margin-top: 50px;

}