<div class="container" style="max-width: 600px; ">
    <div class="row">
        <div class="col">
            <p id="score">Score: {{score}}</p>
        </div>
        <div class="col">
            
            <p id="multiplier">{{multiplier}}x</p>
        </div>
        <div class="col">
            <p id="time">Time: {{time}}s</p>
        </div>
    </div>
    <main>
        <section id="game-area">
            <div id="word-container">
                
            </div>
        </section>

    </main>
</div>

    <input type="text" id="input" [(ngModel)]="inputText" (input)="checkInput($event)" placeholder="Type the falling word..." autocomplete="off">

