<div class="popUpContainer">
    <header>
     <h2>Typing-Game</h2>
    </header>
     <div id="container" class="text-center">
        <div class="row">
            <div class="col">
                <div class = "buttons">
                    <button id="start" class="neumorphic" (click)="startGame()">
                        <i class="fa-solid fa-play"></i>
                        <span class="button-text">PLAY</span>
                    </button>
                </div>
            </div>
        </div>
     </div>
 
</div>        